<div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
  <h1 mat-dialog-title style="font-size: 1.5rem;text-align: center; ">{{data.title}}</h1>
<div mat-dialog-content style="font-size: 1rem; padding: 2rem;text-align: left;">
  {{data.message}}
</div>
<div mat-dialog-actions >
  <button mat-flat-button    [ngStyle]="{'background-color':'rgb(140,198,93)', 'color':'white', 'padding-top':'1rem','padding-bottom':'1rem', 'float': 'left'}" value="Confirm" [mat-dialog-close]="true" cdkFocusInitial style="font-size: 1rem;width: 30vh ">Yes</button>
  <button mat-flat-button   [ngStyle]="{'background-color':'rgb(73,141,212)', 'color':'white','padding-top':'1rem','padding-bottom':'1rem','float': 'right'}" value="Cancel"  [mat-dialog-close]="false" style="font-size: 1rem;width: 30vh; float: right;">No</button>
</div>
</div>
