*{
    padding: 0;
    margin: 0;
}
h3{
    text-align: center;
}


.container{
    display: flex;
    flex-direction: row;
}

.btn-cnt{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.container button{
    display: inline-block;
    width: 10rem;
    height: 3rem;
    background-color: rgb(46,135,200);
    border-radius: 0;
    color: white;
    font-size: large;
    font-weight: lighter;
}

.employee-table{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

table button{
    width: 8rem;
}

.check-in{
    background-color: rgb(140,198,93);
}

.check-out{
    background-color: rgb(88,141,222);
}
