
<div style="margin-left: 14rem;margin-right: 14rem;">
    <br>
    <br>
    <form [formGroup]="visitorsRequestForm">
        <mat-form-field class="justifier">
          <mat-label>Type</mat-label>
          <mat-select  formControlName="VisitorType"  >
            <mat-option *ngFor="let option of visitorTypes"  >
              {{option.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>  
        
        <mat-form-field class="justifier">
          <mat-label>Identification</mat-label>
          <input matInput type="text"   formControlName="Identification" >
        </mat-form-field>

        <mat-form-field appearance="fill" class="justifier">
            <mat-label>Date of Visit</mat-label>
            <input matInput [matDatepicker]="dp3"   formControlName ="visitDate">
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
          </mat-form-field>
       
    </form>

    <button mat-raised-button class="btn custom-btn" (click)="submit()"[ngStyle]="{'background-color':'rgb(73,141,212)', 'color':'white'}" >
        <mat-icon>note_add</mat-icon> Submit
      </button>
</div>
  