<h1 mat-dialog-title>Take Picture</h1>
<div>
    <div class="snapshot" *ngIf="webcamImage">
        <img [src]="webcamImage.imageAsDataUrl" />
		<div title="Take Picture">
            <div>
                <button  class="actionBtn" (click)="uploadImg()">Upload</button> 
            </div>
            <div>
                <button   class="actionBtn"(click)="clearImg()">clear</button> 
            </div>
		</div>
    </div>
    <app-camera (pictureTaken)="handleImage($event)" *ngIf="!webcamImage"></app-camera>

   
    <div>
        <button  (click)="end()">Complete and Go back to Map</button>
    </div>
</div>