<mat-toolbar>
  <span>Change Password</span>
</mat-toolbar>
<div class="form-wraper">
  <div class="form-container card">
    <div class="form-header">
    </div>
    <div class="form-body">
      <form [formGroup]="changePasswordForm">
        <mat-form-field class="justifier">
          <input matInput type="password" placeholder="Old Password" class="form-input" name="oldPass" formControlName="oldPass" required>
        </mat-form-field>
        <mat-form-field class="justifier">
          <input matInput type="password" placeholder="New Password" class="form-input" name="newPass" formControlName="newPass" required>
        </mat-form-field>
      </form>
    </div>
    <div class="form-footer">
      <button mat-raised-button class="btn custom-btn" (click)="changePassword()" color="primary" [disabled]="!changePasswordForm.valid">
        <mat-icon>send</mat-icon> Change
      </button>
    </div>
  </div>
</div>
