<div class="formf">
    <br>
    <form [formGroup]="requestVisitorForm">
        <div style="display: flex; flex-direction: row;justify-content: space-between;">
          <h4>Staff Details</h4>
              <mat-form-field appearance="fill" style="width: 30%;">
                  <mat-label>Select Agency</mat-label>
                  <mat-select  (selectionChange)="getStaff($event)"  formControlName="requestAgency" required [readonly]="disableForm">
                  <mat-option *ngFor="let option of agencyLists" [value]="option.id" >
                      {{option.name}}
                  </mat-option>
                  </mat-select>
              </mat-form-field> 
    
    
              <mat-form-field appearance="fill" style="width: 40%;">
              <mat-label>Select Staff</mat-label>
              <mat-select   formControlName="requestEmployee">
                  <mat-option *ngFor="let option of staffLists" [value]="option.id" required [readonly]="disableForm">
                  {{option.name}}
                  </mat-option>
              </mat-select>
              </mat-form-field> 
        </div>
    
        <mat-form-field class="justifier">
            <mat-label>Name</mat-label>
            <input matInput type="text"   formControlName="visitorName"   [readonly]="disableForm" required autofocus>
        </mat-form-field>
    
        <mat-form-field class="justifier">
            <mat-label>CID/Work Permit</mat-label>
            <input matInput type="text"   formControlName="visitorCid"   [readonly]="disableForm" required autofocus>
        </mat-form-field>
    
        
        <mat-form-field class="justifier">
            <mat-label>Contact No</mat-label>
            <input matInput type="text"   formControlName="visitorContact"   [readonly]="disableForm"  required autofocus>
        </mat-form-field>
    
        
        <mat-form-field class="justifier">
            <mat-label>Address</mat-label>
            <input matInput type="text"   formControlName="visitorAddress"   [readonly]="disableForm" required autofocus>
        </mat-form-field>
    
        <mat-form-field class="justifier">
            <mat-label>Working Agency</mat-label>
            <input matInput type="text"   formControlName="visitorAgency"   [readonly]="disableForm" required autofocus>
        </mat-form-field>


        <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Select Arrival Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="arrivalDate"   [readonly]="disableForm" required >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </form>
    
    <button mat-raised-button class="btn custom-btn" (click)="requestVisitor()" [disabled]="!requestVisitorForm.valid" >
        <mat-icon>note_add</mat-icon> Add Request
    </button>
</div>