<div class="main-container">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Employees Registered</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h1>{{employeeCount}}</h1>
        </mat-card-content>
       
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Total Agencies</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h1>
                {{agencyCount}}
            </h1>
        </mat-card-content>
       
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Movements Today</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1>{{todaysLog}}</h1>
        </mat-card-content>
      </mat-card>
</div>



<h2 style="text-align: center;">Todays Movement Logs</h2>

<div class="container">
  <button mat-flat-button [routerLink]="['employee-table']" routerLinkActive="active">Employee's Log</button>
  <button mat-flat-button [routerLink]="['visitor-table']" routerLinkActive="active"> Visitors Log</button>
  <button mat-flat-button [routerLink]="['vehicle-table']"routerLinkActive="active" > Vehicle's Log</button>
</div>

<div>
  <router-outlet>
  </router-outlet>
</div>

