.visitors-table,table{
    width: 100%;
    text-align: justify;
}

.visitors-table h3{
    text-align: center;
}

table button{
    width: 8rem;
}

.check-in{
    background-color: rgb(140,198,93);
}

.check-out{
    background-color: rgb(88,141,222);
}