::ng-deep th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    font-size: 1 rem;
  }
  
  
  ::ng-deep th.mat-header-cell {
    font-weight: bold;
    text-transform: capitalize;
    color: black;
  }
  
  ::ng-deep .mat-table{
    width: 100%;
  }
  
  td{
    text-align: left;
  }
  
  
  