
  <div class="form-wraper" style="text-align:center">
    <h3>Update Road Details</h3>
    <div class="form-container card" >
      <div class="form-body">
            <!-- Start of Multi unit Form-->  
            <form [formGroup]="updateRoadForm">
              <mat-form-field class="justifier">
                <mat-label>Development Status</mat-label>
                <mat-select name="developmentStatus" formControlName="developmentStatusControl"  [readonly]="disableForm" >
                  <mat-option *ngFor="let status of developmentStatus" [value]="status.name">
                    {{status.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              
              <mat-form-field class="justifier">
                <mat-label>Road Right of Way</mat-label>
                <input matInput type="number" name="row" formControlName="rowControl" required min="0" [readonly]="disableForm" required autofocus>
              </mat-form-field>
              
              <mat-form-field class="justifier">
                <mat-label>Number of Lanes</mat-label>
                <input matInput type="number" name="laneCount" formControlName="laneCountControl" required min="0" [readonly]="disableForm" required autofocus>
              </mat-form-field> 
              
              <mat-form-field class="justifier">
                <mat-label>Carriage Way Width</mat-label>
                <input matInput type="number" name="carriagewayWidth" formControlName="carriagewayWidthControl" required min="0" [readonly]="disableForm" required autofocus>
              </mat-form-field>

                  
              <mat-form-field class="justifier">
                <mat-label>Median</mat-label>
                <input matInput type="number" name="median" formControlName="medianControl" required min="0" [readonly]="disableForm" required autofocus>
              </mat-form-field>

          
               
              <p>On Street Parking</p>
              <mat-form-field class="justifier">
                <mat-label>Parking Left</mat-label>
                <input matInput type="text" name="streetParking" formControlName="streetParkingControl" required min="0" [readonly]="disableForm" required autofocus>
              </mat-form-field>
      
              <mat-form-field class="justifier">
                <mat-label>Parking Right</mat-label>
                <input matInput type="text" name="streetPath" formControlName="streetPathControl" required min="0" [readonly]="disableForm" required autofocus>
              </mat-form-field>

                       
              <p>Street Light</p>
              <mat-form-field class="justifier">
                <mat-label>Light Left</mat-label>
                <input matInput type="text" name="streetParking" formControlName="streetParkingControl" required min="0" [readonly]="disableForm" required autofocus>
              </mat-form-field>
      
              <mat-form-field class="justifier">
                <mat-label>Light Right</mat-label>
                <input matInput type="text" name="streetPath" formControlName="streetPathControl" required min="0" [readonly]="disableForm" required autofocus>
              </mat-form-field>
    

                       
              <p>Drains</p>
              <mat-form-field class="justifier">
                <mat-label>Drain Left</mat-label>
                <input matInput type="text" name="streetParking" formControlName="streetParkingControl" required min="0" [readonly]="disableForm" required autofocus>
              </mat-form-field>
      
              <mat-form-field class="justifier">
                <mat-label>Drain Right</mat-label>
                <input matInput type="text" name="streetPath" formControlName="streetPathControl" required min="0" [readonly]="disableForm" required autofocus>
              </mat-form-field>
    
    

              <br>
              <br>
         
              <mat-form-field class="justifier">
                <mat-label>Remarks</mat-label>
                <input matInput type="text" name="roadRemarks" formControlName="roadRemarksControl" required min="0" [readonly]="disableForm" autofocus>
              </mat-form-field>
        
            </form>
            <!-- End of Multi unit Form-->
      </div>
      <div class="form-footer">
        <button mat-raised-button class="btn custom-btn" (click)="submit()">
          <mat-icon>note_add</mat-icon> Submit
        </button>
      </div>
    </div>
  </div>
  