
  <div style="display: flex; flex-direction: row; justify-content: center;margin:2px">
      <h2 style="text-align: center; padding-right: 20px;color: rgb(46,135,200);">Welcome to Gate Management System</h2>
      <img src="../../assets/un-logo.png" width="150px">
  </div>
  
  <mat-tab-group   mat-align-tabs="center">
      <mat-tab label="Dashboard" style="font-size: 2rem;">
            <app-main-dash></app-main-dash>
      </mat-tab>
      <mat-tab label="Manage Agencies"> 
        <app-agency-table></app-agency-table>
    </mat-tab>
      <mat-tab label="Manage Users"> 
         <app-user-table></app-user-table>
      </mat-tab>

      <mat-tab label="Process Requests"> 
         <app-requests></app-requests>
    </mat-tab>
  </mat-tab-group>