mat-drawer-container{
  height:100%
}

mat-drawer{
  width: 20%;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}

.side-nav{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.side-nav button{
  color: azure;
  height: 2.5rem;
  margin-left: 1rem;
  text-align: left;
  font-size:large;
  font-weight: lighter;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.side-nav-header{
  color: white;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-nav-header h1{
  text-align: center;
  font-weight: 400;
}

.side-nav-header image{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.side-nav-header img{
  margin-top: 1rem;
}

.bottom-nav{
  position: absolute;
  bottom: 0;
}

.bottom-nav button{
  color: azure;
  height: 2.5rem;
  margin-left: 1rem;
  text-align: left;
  font-size:large;
  font-weight: lighter;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidde
}