<div class="image">
  <div class="form-wraper">
    <div class="form-container card">
      <div class="form-header">
      </div>
      <div class="form-body">
        <form [formGroup]="lapForm">
          <mat-form-field class="justifier">
            <mat-label>Thromde/Dzongkhag</mat-label>
            <mat-select #dzongkhag formControlName="thromdeControl" name="thromde"   required   (selectionChange)="getLaps($event)" >
              <mat-option *ngFor="let thromde of thromdes" [value]="thromde.id">
                {{thromde.thromde_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="justifier">
            <mat-label>Select LAPs</mat-label>
            <mat-select formControlName="lapControl" name="lap" required>
              <mat-option *ngFor="let lap of laps" [value]="lap.id">
                {{lap.lap_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
      <div class="form-footer">
        <button mat-raised-button class="btn custom-btn" (click)="redirectToDashboard()" color="primary" [disabled]="!lapForm.valid">
          <mat-icon>arrow_forward</mat-icon>Proceed
        </button>
      </div>
    </div>
  </div>
  
  <footer>
    <p>© Compliance & Development Review Division, MoWHS @2020</p>
  </footer>
</div>