  table {
    width: 100%;
    overflow: auto;
  max-height: 500px;
  }
  .mat-icon {
    font-size: 50px;
  }
  mat-option{
    font-size: xx-large;
  }
  ::ng-deep .mat-tab-label .mat-tab-label-content {
    font-size: x-large;
}

#date{
	color:silver;
  padding: 0;
  margin: 0;
	font-size:1.5rem;
  margin-bottom: 1rem;
  margin-top: 0.8rem;


}

#time{
	font-size:2rem;
  padding: 0;
  margin: 0;
	color:silver;
}

mat-table {
  overflow: auto;
  max-height: 500px;
}

.agency-lists{
  display: flex;
  flex-direction: row;

}
.agency-lists button{
  display: inline-block;
  vertical-align: top;
  width: 80px;
  height: 30px;
  line-height: 30px;
  background:none;
  margin: 0 4px;
  text-align: center;
  color:rgb(46,135,200) ;
}